.focus_module_media_boxes_item_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.focus_module_media_boxes_item {
  width: 100%;
  position: relative;
  transition: all 0.3s ease;
}

.focus_module_media_boxes_image {
  z-index: 0;
  display: flex;
  align-items: center;
}

.focus_module_media_boxes_image.top_aligned {
  align-items: flex-start;
}

.focus_module_media_boxes_image.bottom_aligned {
  align-items: flex-end;
}

.focus_module_media_boxes_video {
  padding: 0;
  overflow: hidden;
}

.focus_module_media_boxes_text {
  display: flex;
  align-items: center;
}

.focus_module_media_boxes_text.top_aligned {
  align-items: flex-start;
}

.focus_module_media_boxes_text.bottom_aligned {
  align-items: flex-end;
}

.mmmbil {
  z-index: -1;
}

.focus_module_media_boxes-content {
  padding: 50px;
  margin: 0 auto;
}

.focus_module_media_boxes_video .focus_module_media_boxes-content {
  position: absolute;
  top: 0;
  left: 0;
}

.focus_module_media_boxes_video .focus_module_media_boxes-content.center_aligned {
  top: 50%;
  transform: translateY(-50%);
}

.focus_module_media_boxes_video .focus_module_media_boxes-content.bottom_aligned {
  top: auto;
  bottom: 0;
}

.focus_module_media_boxes_lens {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.focus_module_media_boxes-title {
  margin-bottom: 20px;
  text-align: center;
}

.focus_module_media_boxes-text {
  margin-bottom: 0;
  text-align: center;
}

.focus_module_media_boxes_item .button {
  display: table;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
