{% import '../../templates/partials/slider-renderer.html' %}
{% import '../../templates/partials/button.html' %}

{% require_css %}
  <style>
    {% scope_css %}

      {% if !module.arrows %}
        .focus_module_hero .splide__arrows {
          display: none;
        }
      {% endif %}

      .focus_hero_slide_inner {
        padding: {{ module.top_padding }}px {{ module.horizontal_padding }}px 0 {{ module.horizontal_padding }}px;  
        height: {{ module.height }}px;
      }

      @media (max-width: 1138px) {
        .focus_hero_slide_inner {
          padding: 0 40px;  
        }
      }

      @media (max-width: 767px) {
        .focus_hero_slide_inner {
          padding: 0 10px;  
        }
      }

    {% end_scope_css %}
  </style>
{% end_require_css %}

<section class="focus_module_hero">

  {% call render_slider() %}
    {% for slide in module.slides %}
      {% require_css %}
        <style>
          {% scope_css %}

            .mhst{{ loop.index }} {
              color: {{ slide.title_color.color }};
            }

            .mhsp{{ loop.index }} {
              color: {{ slide.text_color.color }};
            }

            .mhsb{{ loop.index }} {
              background-color: {{ slide.background_color.color }};
            }

          {% end_scope_css %}
        </style>
      {% end_require_css %}

      <div class="splide__slide">

        <div class="focus_hero_slide mhsb{{ loop.index }}">
          <div class="focus_hero_lens"></div>
          <div class="content-wrapper">
            <div class="focus_hero_slide_inner">
              <div class="focus_hero_slide_inner-text">

                {# Title #}

                {% if slide.title %}
                  <{{ slide.title_heading_type }} class="focus_hero_title mhst{{ loop.index }}">{{ slide.title }}</{{ slide.title_heading_type }}>
                {% endif %}

                {# Text #}

                {% if slide.text %}
                  <p class="mhsp{{ loop.index }}">{{ slide.text }}</p>
                {% endif %}
                
                <div class="hero-buttons">
                  {# Button 1 #}

                  {% if slide.button_toggle %}
                    {{ render_button({
                      'rb_href': slide.button_options.button_link.url.href,
                      'rb_type': slide.button_options.button_link.url.type,
                      'rb_follow': slide.button_options.button_link.no_follow,
                      'rb_tab': slide.button_options.button_link.open_in_new_tab,
                      'rb_class': 'button focus_primary_button',
                      'rb_text': slide.button_options.button_text,
                      'rb_feature': '',
                      'rb_social_icon': '',
                      'rb_acc_title': ''
                    }) }}
                  {% endif %}

                  {# Button 2 #}

                  {% if slide.button_toggle2 %}
                    {{ render_button({
                      'rb_href': slide.button_options2.button_link.url.href,
                      'rb_type': slide.button_options2.button_link.url.type,
                      'rb_follow': slide.button_options2.button_link.no_follow,
                      'rb_tab': slide.button_options2.button_link.open_in_new_tab,
                      'rb_class': 'button focus_secondary_button',
                      'rb_text': slide.button_options2.button_text,
                      'rb_feature': '',
                      'rb_social_icon': '',
                      'rb_acc_title': ''
                    }) }}
                  {% endif %}
                </div>
              </div>

              {# Image #}

              {% if slide.image.src %}   
                <img class="focus_hero_slide-image" src="{{ slide.image.src }}" alt="{{ slide.image.alt }}" loading="lazy" width="{{ slide.image.width }}" height="{{ slide.image.height }}">
              {% endif %}

            </div>
          </div>
        </div>

      </div>

    {% endfor %}
  {% endcall %}

</section>