.focus_module_map {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.focus_module_map_content {
  padding: 0 80px;
  text-align: center;
}

.focus_module_map_content.no-content {
  display: none;
}

.focus_module_map_content.floating,
.focus_module_map_content.floating_right_aligned {
  position: absolute;
  padding: 50px;
  top: 50%;
  left: 50px;
  right: auto;
  transform: translateY(-50%);
}

.focus_module_map_content.floating_right_aligned {
  left: auto;
  right: 50px;
}

.focus_module_map_content.right_aligned {
  order: 1;
}

.focus_module_map-title {
  margin-bottom: 30px;
}

.focus_module_map-text {
  margin-bottom: 30px;
}

.focus_module_map_content .button {
  display: inline-flex;
  margin-top: 30px;
}

.focus_module_map_frame {
  width: 100%;
}

.focus_module_map_frame iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 767px) {
  .focus_module_map {
    flex-direction: column;
  }

  .focus_module_map_content {
    width: 100%;
    padding: 80px 30px;
    max-width: 100%;
    min-width: auto;
  }

  .focus_module_map_content.floating,
  .focus_module_map_content.floating_right_aligned {
    position: relative;
    padding: 80px 30px;
    top: 0;
    left: 0;
    transform: none;
    max-width: 100%;
    min-width: auto;
  }

  .focus_module_map_frame {
    width: 100%;
  }
}
