.focus_module_number_counters {
  text-align: center;
}

.focus_module_number_counters-top {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.focus_module_number_counters .counter_icon svg {
  height: 30px;
  margin-top: 10px;
}

.focus_module_number_counter {
  font-size: 48px;
}

@media (max-width: 767px) {
  .focus_module_number_counter {
    font-size: 36px;
  }
}
