.focus_module_breadcrumb {
  display: flex;
  gap: 15px;
  font-size: 14px;
}

.hs-breadcrumb-menu {
  display: flex;
  gap: 15px;
}

.hs-breadcrumb-menu-item {
  float: none;
  padding: 0;
}

.root-item-divider::after {
  content: "-";
}

.hs-breadcrumb-menu-divider::before {
  padding-left: 15px;
}
