<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page
  screenshotPath: ../images/template-previews/landing-page.png
-->

{% extends './layouts/base.html' %} {% block header %} {% global_partial
path='./partials/header-no-navigation.html' %} {% endblock header %} {% block body %} {% dnd_area
'dnd_area_101' class='body-container body-container--landing-page', label='Main section' %} {# Page
title #} {% include_dnd_partial path='../sections/page-title.html' context={ 'text': 'Welcome',
'background_color': '#FFD126', 'color': '#000000', 'section_margin_bottom': '0px' } %} {# Quote and
form #} {% include_dnd_partial path='../sections/quote-and-form.html' context={
'section_padding_top': 0 } %} {# Quick answers #} {% include_dnd_partial
path='../sections/questions-answers.html' context={ 'text': 'Some Quick Answers',
'section_margin_bottom': '0px', 'background_color': '#E24545', 'color': '#FFFFFF' } %} {%
end_dnd_area %} {% endblock body %}
