<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page - Coming soon
  screenshotPath: ../images/template-previews/landing-page-coming-soon.png
-->

{% extends './layouts/base.html' %}

{% block header %}
  {% global_partial path='./partials/header-no-navigation.html' %}
{% endblock header %}

{% block body %}
{% dnd_area 'dnd_area_101' class='body-container body-container--landing-page-coming-soon', label='Main section' %}

  {# Page title #}

  {% include_dnd_partial path='../sections/page-title.html'
    context={
      'text': 'Get ready.',
      'background_color': '#000000',
      'color': '#FFD126',
      'section_margin_bottom': '0px'
    }
  %}

  {# Countdown #}

  {% dnd_section
    background_color='#000000',
    margin={
      'default': { 'bottom': 100 }
    }
  %}
    {% dnd_module path='../modules/countdown-timer'
      timer_type='date',
      date_options={
        'date': 1775001600000
      },
      styles={
        'text_color': {
          'color': '#FFD126'
        }
      }
    %}
    {% end_dnd_module %}
  {% end_dnd_section %}

  {# Form with title and text #}

  {% include_dnd_partial path='../sections/form-with-title-and-text.html' %}  

{% end_dnd_area %}
{% endblock body %}
