.focus_module_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.focus_centered {
  text-align: center;
}

.focus_fsize_18 {
  font-size: 18px;
}

.focus_widget-image img,
.focus_widget-image_slider img {
  width: 100%;
}

.focus_social_icons {
  display: flex;
  align-items: center;
  gap: 30px;
  line-height: 0;
  flex-wrap: wrap;
}

.msi_icon svg {
  height: 20px;
}

.mwh_el_social .msi_icon svg,
.mwf_el_social .msi_icon svg {
  height: 18px;
}

/* Focus Ad CTA Button */

.cta_button.focus-ad-cta-button,
.cta_button.focus-ad-cta-button:active {
  background: #e24545;
  border-radius: 8px;
  box-shadow: 0 5px 0 0 #fda4a4;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1.8em;
  padding: 10px 20px;
  text-transform: none;
  width: auto;
}

.cta_button.focus-ad-cta-button-2,
.cta_button.focus-ad-cta-button-2:active {
  background: #fff161;
  border-radius: 8px;
  box-shadow: 0 5px 0 0 #fd0;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1.8em;
  padding: 10px 20px;
  text-transform: none;
  width: auto;
}

.cta_button.focus-ad-cta-button:hover,
.cta_button.focus-ad-cta-button:focus,
.cta_button.focus-ad-cta-button-2:hover,
.cta_button.focus-ad-cta-button-2:focus {
  background: #fd0;
  border-radius: 8px;
  box-shadow: 0 0 0 0 #fff161;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1.8em;
  padding: 10px 20px;
  text-transform: none;
  width: auto;
}

/* HubSpot Cookie Banner */

.hs-cookie-notification-position-top button,
.hs-cookie-notification-position-bottom button { box-shadow: none; }

/* Focus Plus Banner */

.focus_plus_banner {
  background-position: center;
  background-size: cover;
  color: #000;
  padding: 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.focus_plus_banner-default {
  background-image: url({{get_asset_url("../../images/bg-301.png")}});
}

.focus_plus_banner-cashback {
  background-image: url({{get_asset_url("../../images/bg-cc-01.jpg")}});
}

.focus_plus_banner_inner {
  background-color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  border: 3px solid black;
}

.focus_plus_banner_title {
  text-align: center;
  margin-bottom: 0;
  font-size: 20px;
}

.focus_plus_banner_teaser {
  text-align: center;
  font-size: 13px;
  margin-bottom: 0;
  color: #999;
  line-height: 20px;
}