{% import '../../templates/partials/listing/structure.html' %}

{# Module styles #}

{% require_css %}
  <style>
    {% scope_css %}

      {% set m_spacing_spacing = 'custom' %}
      {% set m_spacing_horizontal = 60 %}
      {% set m_spacing_vertical = 0 %}

      {% if m_spacing_spacing == 'custom' %}
        @media (min-width: 1139px) {
          {% if masonry_layout %}
            .focus_grid-gutter-sizer {
              width: {{ m_spacing_horizontal }}px;
            }

            .focus_grid-item {
              margin-bottom: {{ m_spacing_vertical }}px;
            }

            .focus_grid-masonry2 .focus_grid-sizer,
            .focus_grid-masonry2 .focus_grid-item {
              width: calc(50% - {{ m_spacing_horizontal/2 }}px);
            }

            .focus_grid-masonry3 .focus_grid-sizer,
            .focus_grid-masonry3 .focus_grid-item {
              width: calc(33.3333% - {{ m_spacing_horizontal*2/3 }}px);
            }
          {% else %}
            .focus_grid-inner {
              gap: {{ m_spacing_vertical }}px 0;
            }

            .focus_grid--2col.mgi-col1,
            .focus_grid--2_1col.mgi-2_1col-1,
            .focus_grid--2_3col.mgi-2_3col-1 {
              padding-right: {{ m_spacing_horizontal/2 }}px;
            }

            .focus_grid--2col.mgi-col2,
            .focus_grid--2_1col.mgi-2_1col-2,
            .focus_grid--2_3col.mgi-2_3col-2 {
              padding-left: {{ m_spacing_horizontal/2 }}px;
            }

            .focus_grid--3col.mgi-col1,
            .focus_grid--3_1col.mgi-3_1col-1,
            .focus_grid--3_2col.mgi-3_2col-1 {
              padding-right: {{ m_spacing_horizontal*2/3 }}px;
            }

            .focus_grid--3col.mgi-col2,
            .focus_grid--3_1col.mgi-3_1col-2,
            .focus_grid--3_2col.mgi-3_2col-2 {
              padding-left: {{ m_spacing_horizontal/3 }}px;
              padding-right: {{ m_spacing_horizontal/3 }}px;
            }

            .focus_grid--3col.mgi-col3,
            .focus_grid--3_1col.mgi-3_1col-3,
            .focus_grid--3_2col.mgi-3_2col-3 {
              padding-left: {{ m_spacing_horizontal*2/3 }}px;
            }
          {% endif %}
        }
      {% endif %}

    {% end_scope_css %}
  </style>
{% end_require_css %}

{# Blog listing #}

<div class="focus_grid-container{{ masonry_layout }}{{ ms_vis_class }}">
  <section class="focus_grid-inner{{ masonry_layout }}{{ ms_vis_class }}">
    
    {% for c in contents %}
      {% if loop.index0 < initial_cols %}
        {# initial columns #}
        {% do initial_posts.append(c) %}
      {% else %}
        {# regular columns #}
        {% do remaining_posts.append(c) %}
      {% endif %}
    {% endfor %}

    {% if initial_posts and module.pagination != "classical" %}
      {# for infinite scroll to work #}
      <div class="mblog-initial">
    {% endif %}

    {% for content in initial_posts %}
      {# Blog listing article - initial columns #}
      {{ listing_item('mgi-' ~ bl ~ '-' ~ loop.index, bl, content.name, 'blog') }}
    {% endfor %}

    {% if initial_posts %}
      {# for nth-child to work #}
      <div class="focus_grid-inner">
    {% elif masonry_layout %}
      {# masonry layout #}
      <div class="focus_grid focus_grid-blog-listing">
        <div class="focus_grid-sizer"></div>
        <div class="focus_grid-gutter-sizer"></div>
    {% endif %}

    {% for content in remaining_posts %}
      {% if masonry_layout %}
        {# masonry layout #}
        <div class="focus_grid-item">
      {% endif %}

      {# Blog listing article #}
      {% if list_style_count and loop.index > list_style_count %}
        {# list style #}
        {{ listing_item(cycle_class(layouts[bl]['cycle_class']), 'list', content.name, 'blog') }}
      {% else %}
        {# regular style #}
        {{ listing_item(cycle_class(layouts[bl]['cycle_class']), layouts[bl]['remaining_post_class'], content.name, 'blog') }}
      {% endif %}

      {% if masonry_layout %}
        {# masonry layout #}
        </div>
      {% endif %}
    {% endfor %}

    {% if initial_posts or masonry_layout %}
      {# for nth-child to work / masonry layout #}
      </div>
    {% endif %}

    {% if initial_posts and module.pagination != "classical" %}
      {# for infinite scroll to work #}
      </div>
    {% endif %}

  </section>

</div>

{% if module.inf_status %}
  <div class="page-load-status">
    <p class="infinite-scroll-request">{{ module.loading }}</p>
    <p class="infinite-scroll-last">{{ module.end_of_content }}</p>
    <p class="infinite-scroll-error">{{ module.no_more_pages }}</p>
  </div>
{% endif %}

{% if (module.pagination == 'load_more' or module.pagination == 'inf_scroll_load_more') and contents.total_page_count > 1 %}
  <button class="view-more-button focus_secondary_button">{{ module.load_more_text }}</button>
{% endif %}

<input id="m_info_fields-blog-listing" type="hidden" data-next_page="{{ 'true' if contents.total_page_count > 1 else 'false' }}" data-cycle="{{ layouts[bl]['cycle_class'] }}" data-vis_class="{{ ms_vis_class }}" data-inf_after="{{ module.inf_after }}" data-pagination="{{ module.pagination }}" data-status="{{ 'true' if module.inf_status else 'false' }}" data-layout="{{ bl }}" data-masonry="{{ 'true' if masonry_layout else 'false' }}" data-initial="{{ 'true' if initial_posts else 'false' }}">

{# Pagination #}

{% if contents.total_page_count > 1 %}
  <nav aria-label="Pagination navigation" role="navigation" class="pagination">
    {% set page_list = [-2, -1, 0, 1, 2] %}
    {% if contents.total_page_count - current_page_num == 1 %}
      {% set offset = -1 %}
    {% elif contents.total_page_count - current_page_num == 0 %}
      {% set offset = -2 %}
    {% elif current_page_num == 2 %}
      {% set offset = 1 %}
    {% elif current_page_num == 1 %}
      {% set offset = 2 %}
    {% else %}
      {% set offset = 0 %}
    {% endif %}

    {# First page link #}

    <a class="pagination__link pagination__link--first {{ 'pagination__link--disabled' if !last_page_num }}" {% if last_page_num %}href="{% if current_page_num == 2 %}{{ group.absolute_url }}{% else %}{{ blog_page_link(1) }}{% endif %}"{% endif %}>
      {% icon
        name='angle-double-left'
        style='SOLID'
        unicode='f100'
        purpose='decorative'
        extra_classes='pagination__link-icon'
      %}
    </a>

    {# Previous page link #}

    <a class="pagination__link pagination__link--prev {{ 'pagination__link--disabled' if !last_page_num }}" {% if last_page_num %}href="{% if current_page_num == 2 %}{{ group.absolute_url }}{% else %}{{ blog_page_link(last_page_num) }}{% endif %}"{% endif %}>
      {% icon
        name='angle-left'
        style='SOLID'
        unicode='f104'
        purpose='decorative'
        extra_classes='pagination__link-icon'
      %}
    </a>

    {# Numbered pagination #}

    {% for page in page_list %}
      {% set this_page = current_page_num + page + offset %}
      {% if this_page > 0 and this_page <= contents.total_page_count %}
        <a class="pagination__link pagination__link--number {{ 'pagination__link--active' if this_page == current_page_num }}" aria-label="Go to Page {{ this_page }}" {{ 'aria-current="true"' if this_page == current_page_num }} href="{% if this_page == 1 %}{{ group.absolute_url }}{% else %}{{ blog_page_link(this_page) }}{% endif %}">{{ this_page }}</a>
      {% endif %}
    {% endfor %}

    {# Next page link #}

    <a class="pagination__link pagination__link--next {{ 'pagination__link--disabled' if !next_page_num else 'mpln-ok' }}"{% if next_page_num %} href="{{ blog_page_link(current_page_num + 1) }}"{% endif %}>
      {% icon
        name='angle-right'
        style='SOLID'
        unicode='f105'
        purpose='decorative'
        extra_classes='pagination__link-icon'
      %}
    </a>

    {# Last page link #}

    <a class="pagination__link pagination__link--last {{ 'pagination__link--disabled' if !next_page_num }}"{% if next_page_num %} href="{{ blog_page_link(contents.total_page_count) }}"{% endif %}>
      {% icon
        name='angle-double-right'
        style='SOLID'
        unicode='f101'
        purpose='decorative'
        extra_classes='pagination__link-icon'
      %}
    </a>

  </nav>
{% endif %}