{% import '../../templates/partials/listing/structure.html' %}
{% import '../../templates/partials/button.html' %}

<div class="focus_grid-container">

  <section class="focus_grid-inner mgi-pricing">

    {% for card in module.cards %}

      <article class="focus_grid-col focus_grid--{{ layouts[module.column_count]['remaining_post_class'] }} {{ cycle_class(layouts[module.column_count]['cycle_class']) }}">

        <div class="focus_grid-content focus_grid-content--{{ module.column_count }}">

          {% set badge_class = '' %}
          {% if card.badge_toggle %}
            {% set badge_class = ' hmpc_badged' %}
          {% endif %}
          <section class="focus_module_pricing_card{{ badge_class }} mat_pri_bor mat_pri_cor mat_pri_sha">

            {% if card.image.src %}   
              <img class="pricing_icon" src="{{ card.image.src }}" alt="{{ card.image.alt }}" loading="lazy">
            {% endif %}
          
            {% if card.badge_toggle %}
              <div class="focus_module_pricing_card_badge">{{ card.badge_options.badge_text }}</div>
            {% endif %}
          
            <div class="focus_module_pricing_card_header">
              {% if card.tier %}
                <{{ card.tier_heading_type }} class="focus_module_pricing_card_heading">{{ card.tier }}</{{ card.tier_heading_type }}>
              {% endif %}
            </div>

            {% if card.description %}
              <p class="focus_module_pricing_card_desc"> {{ card.description }}</p>
            {% endif %}

            {% if card.price %}
              <div class="focus_module_pricing_card_price">
                <div class="focus_module_pricing_card_currency">{{ card.currency }}</div>
                <div class="focus_module_pricing_card_amount">{{ card.price }}</div>
              </div>
            {% endif %}

            <h4 class="focus_module_pricing_card_features_hdr">Features</h4>
          
            <div class="focus_module_pricing_card_features">
              <ul>
                {% for f in card.features %}
                  <li>
                    {{ f.feature }}
                    {% if f.additional %}
                      <span class="focus_module_pricing_card_feature_additional">{{ f.additional }}</span>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          
            {% if card.button_toggle %}
              {{ render_button({
                'rb_href': card.button_options.button_link.url.href,
                'rb_type': card.button_options.button_link.url.type,
                'rb_follow': card.button_options.button_link.no_follow,
                'rb_tab': card.button_options.button_link.open_in_new_tab,
                'rb_class': 'button',
                'rb_text': card.button_options.button_text,
                'rb_feature': '',
                'rb_social_icon': '',
                'rb_acc_title': ''
              }) }}
            {% endif %}
          
          </section>

      </div>

    </article>

    {% endfor %}

  </section>

</div>
