/* Layout structure */

.focus_module_website_f {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  	margin-bottom: 0;
}

.mwf_row {
    display: flex;
  	flex-wrap: wrap;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	gap: 30px;
}

.mwf_row_a_top {
    align-items: flex-start;
}

.mwf_row_a_middle {
    align-items: center;
}

.mwf_row_a_bottom {
    align-items: flex-end;
}

.mwf_row_j_full {
    justify-content: space-between;
}

.mwf_row_j_left {
    justify-content: flex-start;
}

.mwf_row_j_center {
    justify-content: center;
}

.mwf_row_j_right {
    justify-content: flex-end;
}

.mwf_col {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
	gap: 30px;
}

/* Menus */

.mwf_el_menus {
    display: flex;
    gap: 100px;
}

.mwf_el_menu .menu__item {
    display: block;
    font-size: 14px;
}

.mwf_el_menu .menu__link {
    padding: 0;
}

.mwf_el_menu .menu-item-container {
    margin-bottom: 10px;
}

.mwf_el_menus .menu__wrapper {
    font-size: 0;
    padding: 0;
    margin: 0;
}

.mwf_el_menus .mwh_el_secondary_menu .menu__wrapper li {
    font-size: 14px;
}

/* Image */

.mwf_el_image img {
    margin-bottom: 30px;
}

/* Text */

.mwf_el_text {
    font-size: 14px;
}

.mwf_image_text {
    max-width: 300px;
    font-size: 16px;
}








/* LAYOUTS */



{# ############################# Layout 1 ############################## #}

/* Container */

.mwf_layout1.focus_module_website_f {
    padding: 100px 0 80px 0;
}

/* Top row */

.mwf_layout1 .mwf_row_t {
	max-width: 1280px;
    padding: 0 20px;
    margin-bottom: 80px;
	align-items: flex-start;
	justify-content: space-between;
}

.mwf_layout1 .mwf_row_t .mwf_el_menus {
	gap: 150px;
}

/* Middle row */

/* Bottom row */

.mwf_layout1 .mwf_row_b {
	max-width: 1280px;
    padding: 0 20px;
	align-items: center;
	justify-content: space-between;
}

{# ############################# Layout 2 ############################## #}

/* Container */

.mwf_layout2.focus_module_website_f {
    padding: 80px 0 80px 0;
}

.mwf_layout2 .mwf_col {
    justify-content: center;
}

@media (max-width: 767px) {
    .mwf_layout2 .mwf_row,
    .mwf_layout2 .mwf_col {
        align-items: center !important;
    }
}

/* Top row */

.mwf_layout2 .mwf_row_t {
	max-width: 1280px;
    padding: 0 20px;
	align-items: center;
	justify-content: center;
}

.mwf_layout2 .mwf_row_t .mwf_el_image {
    text-align: center;
}

/* Middle row */

.mwf_layout2 .mwf_row_m {
	max-width: 1280px;
    padding: 0 20px;
    margin-bottom: 30px;
	align-items: center;
	justify-content: center;
}

.mwf_layout2 .mwf_row_m .mwf_el_menus {
    text-align: center;
    flex-direction: column;
    gap: 50px;
}

.mwf_layout2 .mwf_row_m .mwf_el_menus .mwf_el_menu .menu__item {
    display: inline-block;
}

.mwf_layout2 .mwf_row_m .mwf_el_menus .menu-item-container {
    justify-content: center;
}

@media (min-width: 768px) {
    .mwf_layout2 .mwf_row_m .mwf_el_menus .menu-item-container {
        margin-right: 30px;
    }

    .mwf_layout2 .mwf_row_m .mwf_el_menus .mwf_el_menu .menu__item--depth-1:last-child .menu-item-container {
        margin-right: 0;
    }
}

/* Bottom row */

.mwf_layout2 .mwf_row_b {
	max-width: 1280px;
    padding: 0 20px;
	align-items: center;
	justify-content: center;
}

.mwf_layout2 .mwf_row_b .mwf_el_text {
    order: -1;
}

{# ############################# Layout 3 ############################## #}

/* Container */

.mwf_layout3.focus_module_website_f {
    padding: 80px 0 80px 0;
}

.mwf_layout3 .mwf_col {
    justify-content: center;
}

@media (max-width: 767px) {
    .mwf_layout3 .mwf_row,
    .mwf_layout3 .mwf_col {
        align-items: center !important;
    }
}

/* Top row */

.mwf_layout3 .mwf_row_t {
	max-width: 1280px;
    padding: 0 20px 20px 20px;
	align-items: center;
	justify-content: center;
}

.mwf_layout3 .mwf_row_t .mwf_el_image {
    text-align: left;
}

.mwf_layout3 .mwf_row_t .mwf_el_image img {
    margin-bottom: 0;
}

.mwf_layout3 .mwf_row_t .mwf_image_text {
    margin-top: 10px;
}

.mwf_layout3 .mwf_row_t .mwf_el_menus {
    text-align: center;
    flex-direction: column;
    gap: 50px;
}

.mwf_layout3 .mwf_row_t .mwf_el_menus .mwf_el_menu .menu__item {
    display: inline-block;
}

.mwf_layout3 .mwf_row_t .mwf_el_menus .menu-item-container {
    justify-content: center;
}

@media (min-width: 768px) {
    .mwf_layout3 .mwf_row_t .mwf_el_menus .menu-item-container {
        margin-right: 30px;
    }

    .mwf_layout3 .mwf_row_t .mwf_el_menus .mwf_el_menu .menu__item--depth-1:last-child .menu-item-container {
        margin-right: 0;
    }
}

/* Middle row */

.mwf_layout3 .mwf_row_m {
	max-width: 1280px;
    padding: 0 20px;
    margin-bottom: 30px;
	align-items: center;
	justify-content: center;
}

/* Bottom row */

.mwf_layout3 .mwf_row_b {
	max-width: 1280px;
    padding: 0 20px;
	align-items: center;
	justify-content: center;
}

{# ############################# Layout 4 ############################## #}

/* Container */

.mwf_layout4.focus_module_website_f {
    padding: 100px 0 80px 0;
}

/* Top row */

.mwf_layout4 .mwf_row_t {
	max-width: 1280px;
    padding: 0 20px;
    margin-bottom: 20px;
	align-items: flex-start;
	justify-content: space-between;
}

.mwf_layout4 .mwf_row_t .mwf_el_menus {
    text-align: left;
    flex-direction: column;
    gap: 50px;
}

.mwf_layout4 .mwf_row_t .mwf_el_menus .mwf_el_menu .menu__item {
    display: inline-block;
}

.mwf_layout4 .mwf_row_t .mwf_el_menus .menu-item-container {
    justify-content: flex-start;
}

@media (min-width: 768px) {
    .mwf_layout4 .mwf_row_t .mwf_el_menus {
        text-align: right;
    }

    .mwf_layout4 .mwf_row_t .mwf_el_menus .menu-item-container {
        margin-right: 30px;
    }

    .mwf_layout4 .mwf_row_t .mwf_el_menus .mwf_el_menu .menu__item--depth-1:last-child .menu-item-container {
        margin-right: 0;
    }
}

/* Middle row */

/* Bottom row */

.mwf_layout4 .mwf_row_b {
	max-width: 1280px;
    padding: 0 20px;
	align-items: center;
	justify-content: space-between;
}
