{# ############################################## #}
{# #################   Macros   ################# #}
{# ############################################## #}

{# Button renderer #}

{% macro render_button(d) %}
    
  {# Set attributes used for the link field #}

  {% set href = d.rb_href %}
  {% set target = '' %}
  {% set rel = [] %}
  {% set rel_str = '' %}

  {% if d.rb_type is equalto 'EMAIL_ADDRESS' %}
    {% set href = 'mailto:' + href %}
  {% endif %}
  {% if d.rb_follow %}
    {% do rel.append('nofollow') %}
  {% endif %}
  {% if d.rb_tab %}
    {% do rel.append('noopener') %}
    {% set target = ' target="_blank"' %}
  {% endif %}
  {% if rel %}
    {% set rel_join = rel|join(' ') %}
    {% set rel_str = ' rel="{{ rel_join }}"' %}
  {% endif %}

  {# Button html #}

  <a class="{{ d.rb_class }}" href="{{ href }}"{{ target ~ rel_str }}>
  {% if d.rb_feature == 'portfolio' %}
    {# Do NOT close <a> tag #}
  {% elif d.rb_feature == 'social_icon' %}
    {% if d.rb_social_icon == 'x twitter' %}
      {% icon
        name='{{ d.rb_social_icon }}'
        style='SOLID'
        icon_set='fontawesome-6.4.2'
        purpose='semantic'
        extra_classes='msi_icon'
        title='{{ d.rb_acc_title }}'
        unique_in_loop=True
      %}
    {% else %}
      {% icon
        name='{{ d.rb_social_icon }}'
        style='SOLID'
        purpose='semantic'
        extra_classes='msi_icon'
        title='{{ d.rb_acc_title }}'
        unique_in_loop=True
      %}
    {% endif %}
    </a>
  {% else %}
    {{ d.rb_text }}
    </a>
  {% endif %}

{% endmacro %}

{# Menu renderer #}

{% macro render_menu(mobile) %}
  <nav class="menu menu--{{'mobile' if mobile else 'desktop'}}" aria-label="Main menu">
    <ul class="menu__wrapper no-list">
      {{ caller() }}
    </ul>
  </nav>
{% endmacro %}

{# Social icons #}

{% macro render_social_icons(items) %}
  <div class="focus_social_icons">
    {% for item in items %}
        
      {# Sets a custom icon if the custom option is selected #}

      {% if item.social_account != 'custom_icon' %}
        {% set social_icon = item.social_account %}
      {% else %}
        {% set social_icon = item.custom_icon.name %}
      {% endif %}

      {{ render_button({
        'rb_href': item.social_link.url.href,
        'rb_type': item.social_link.url.type,
        'rb_follow': item.social_link.no_follow,
        'rb_tab': item.social_link.open_in_new_tab,
        'rb_class': '',
        'rb_text': '',
        'rb_feature': 'social_icon',
        'rb_social_icon': social_icon,
        'rb_acc_title': item.accessibility.title
      }) }}
      
    {% endfor %}
  </div>
{% endmacro %}

{# Menu items #}

{% macro menu_items(menu_field, max_levels) %}

  {% if menu_field.menu|string != 'Choose a menu' %}

    {% set menu = menu(menu_field.menu, 'site_root').children %}

    {% macro render_link_item(link, depth) %}
      <li class="menu__item menu__item--depth-{{ depth }} {{ 'menu__item--has-submenu' if link.children && depth < max_levels }} hs-skip-lang-url-rewrite">
        <div class="menu-item-container">
          {% if link.url %}
            <a class="menu__link {{ 'menu__link--toggle' if link.children && depth < max_levels }} {{ 'menu__link--active-branch' if link.activeBranch }} {{ 'menu__link--active-link' if link.activeNode }}" href="{{ link.url }}" {{ 'aria-haspopup="true" aria-expanded="false"' if link.children && depth < max_levels }} {{ 'aria-current="page"' if link.activeNode }} {{ 'target="_blank" rel="noopener"' if link.linkTarget }}>{{ link.label }}</a>
          {% else %}
            {% if link.children && depth < max_levels %}            
              <a class="menu__link menu__link--toggle" href="#" aria-haspopup="true" aria-expanded="false">{{ link.label }}</a>
            {% else %}            
              <span class="menu__link">{{ link.label }}</span>
            {% endif %}
          {% endif %}
          {% if link.children %}
            {% if depth && depth < max_levels %}
                <button class="menu__child-toggle no-button" aria-expanded="false">
                  <span class="show-for-sr">{{ link.label }}</span>
                  <span class="menu__child-toggle-icon"></span>
                </button>
              </div>
              <ul class="menu__submenu mat_pri_bor mat_pri_cor mat_pri_sha menu__submenu--level-{{ depth + 1 }} no-list">
                {% set depth = depth + 1 %}
                {% for sublink in link.children %}
                  {{ render_link_item(sublink, depth) }}
                {% endfor %}
              </ul>
            {% endif %}
          {% else %}
        </div>
          {% endif %}
      </li>
    {% endmacro %}

    {# Render menu item #}
    
    {% for link in menu %}
      {{ render_link_item(link, 1) }}
    {% endfor %}

  {% endif %}

{% endmacro %}

{# Column execution #}

{% macro execute_columns(hf, pos, printing) %}
  {% for el in elems %}
    {% if el['position']|lower == pos && el['visibility'] %}
      {% if printing %}
        {# Output columns #}
        {% if used_positions is containing pos %}
          {# Column already opened for this position #}
        {% else %}
          {# Open new column #}
          <div class="mw{{ hf }}_col_{{ pos }} mw{{ hf }}_col">
          {% if request.query_dict._preview %}
            <input type="hidden" data-position="{{ pos }}" />
          {% endif %}
          {% do used_positions.append( pos ) %}
          {% do col_opened.update({ 'val': true }) %}
        {% endif %}
        {# Print current element #}
        {{ el['elem'] }}
      {% else %}
        {# Detect element positions only #}
        {% do used_columns.append( pos ) %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {# Close opened column #}
  {% if col_opened['val'] %}
    </div>
    {% do col_opened.update({ 'val': false }) %}
  {% endif %}
{% endmacro %}

{# Print header/footer #}

{% macro print_module(hf) %}

  <div class="focus_module_website_{{ hf }} {{ layout_name }}">

    {# Detect used columns #}

    {% for pos in positions %}        
      {{ execute_columns(hf, pos, false) }}
    {% endfor %}

    {# Insert rows and columns #}

    {% for pos in positions %}

      {# Open row #}

      {% if pos in used_columns && !row_opened['val'] %}
        {# Substring the row (t-m-b) #}
        {% set p = pos[0:1] %}
        {% set r_align = row_aligns[hf ~ '_' ~ p]|lower %}
        {% if row_aligns[hf ~ '_' ~ p ~ 'full'] %}
          {% set r_align = 'full' %}        
        {% endif %}
        <div class="mw{{ hf }}_row_{{ p }} mw{{ hf }}_row mw{{ hf }}_row_j_{{ r_align }} mw{{ hf }}_row_a_{{ row_aligns[hf ~ '_' ~ p ~ '_v']|lower }}">
        {% if request.query_dict._preview %}
          <input type="hidden" data-vertical="{{ p }}" data-alignment="{{ r_align }}" />
        {% endif %}
        {% do row_opened.update({ 'val': true }) %}
      {% endif %}

      {# Add columns #}

      {{ execute_columns(hf, pos, true) }}

      {# Close row #}

      {% if loop.index % 3 == 0 && row_opened['val'] %}
        </div>
        {% do row_opened.update({ 'val': false }) %}
      {% endif %}

    {% endfor %}

  </div>

{% endmacro %}

{# ############################################################## #}
{# #################   Widgets (HTML outputs)   ################# #}
{# ############################################################## #}

{# Footer menu #}

{% macro output_footer_menu(el) %}
  <div class="mwf_el_menus">
    {% for item in el %}
      <div class="mwf_el_menu">
        {% if item.title %}
          <h5 class="mwf_el_menu-title">{{ item.title }}</h5>
        {% endif %}
        {% if item.menu|string != 'Choose a menu' %}
          {% call render_menu() %}
            {{ menu_items(item, 1) }}
          {% endcall %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{# Social icons #}

{% macro output_social(hf) %}    
  <div class="mw{{ hf }}_el_social">
    {{ render_social_icons(module.social_accounts) }}
  </div>
{% endmacro %}

{# Footer text #}

{% macro output_footer_text() %}    
  <div class="mwf_el_text">
    {{ module.text.text }}
  </div>
{% endmacro %}

{# Image #}

{% macro output_image(hf) %}    
  <div class="mw{{ hf }}_el_image">
    {% image
      src='{{ module.image.image.src }}'
      alt='{{ module.image.image.alt }}'
      width='{{ module.image.image.width }}'
      loading='lazy'
    %}
    {% if module.image.text %}
      <p class="mwf_image_text">{{ module.image.text }}</p>
    {% endif %}
  </div>
{% endmacro %}

{# ################################################ #}
{# #################  Variables   ################# #}
{# ################################################ #}

{% set default_breakpoint = 767 %}

{# Shortcuts to module fields #}

{% set sh = module.show_hide %}
{% set layout_name = module.predefined_layouts.layout %}

{# Layout structure #}

{% set row_aligns = {
  'h_t': 'center',
  'h_m': 'center',
  'h_b': 'center',
  'h_tfull': false,
  'h_mfull': false,
  'h_bfull': false,
  'h_t_v': 'middle',
  'h_m_v': 'middle',
  'h_b_v': 'middle',
  'f_t': 'center',
  'f_m': 'center',
  'f_b': 'center',
  'f_tfull': false,
  'f_mfull': false,
  'f_bfull': false,
  'f_t_v': 'middle',
  'f_m_v': 'middle',
  'f_b_v': 'middle',
} %}

{% set positions = [
  'top_left',
  'top_center',
  'top_right',
  'middle_left',
  'middle_center',
  'middle_right',
  'bottom_left',
  'bottom_center',
  'bottom_right'
] %}

{% set used_columns = [] %}
{% set used_positions = [] %}
{% set row_opened = { 'val': false } %}
{% set col_opened = { 'val': false } %}

{# ############################################# #}
{# #################  Module   ################# #}
{# ############################################# #}

{% set m_key = 'f' %}

{# Module styles #}

{% require_css %}
  <style>
    {% scope_css %}

      {# Mobile breakpoint #}
      {% if module.breakpoint.width == 'custom' %}
        {% set bp = module.breakpoint.custom_width %}
      {% else %}
        {% set bp = default_breakpoint %}
      {% endif %}
      @media (max-width: {{ bp }}px) {  
        .mwf_row {
          flex-direction: column;
          align-items: flex-start;
          gap: 60px;
        }
        
        .mwf_row_j_full,
        .mwf_row_j_left,
        .mwf_row_j_center,
        .mwf_row_j_right {
          justify-content: flex-start;
        }
        
        .mwf_col {
          flex-direction: column;
          align-items: flex-start;
          gap: 60px;
        }

        .mwf_el_image,
        .mwf_el_menus,
        .mwf_el_social,
        .mwf_el_text {
          flex-direction: column;
          align-items: flex-start;
          gap: 60px;
        }
      }
    {% end_scope_css %}
  </style>
{% end_require_css %}

{# Layouts > element positions #}

{# Predefined layouts #}
{% if layout_name == 'mwf_layout1' %}
  {% set el_positions = {
    'pos_image': 'top_left',
    'pos_menus': 'top_right',
    'pos_social': 'bottom_right',
    'pos_text': 'bottom_left'
  } %}
{% elif layout_name == 'mwf_layout2' %}
  {% set el_positions = {
    'pos_image': 'top_center',
    'pos_menus': 'middle_center',
    'pos_social': 'bottom_center',
    'pos_text': 'bottom_center'
  } %}
{% elif layout_name == 'mwf_layout3' %}
  {% set el_positions = {
    'pos_image': 'top_center',
    'pos_menus': 'top_center',
    'pos_social': 'bottom_center',
    'pos_text': 'middle_center'
  } %}
{% elif layout_name == 'mwf_layout4' %}
  {% set el_positions = {
    'pos_image': 'top_left',
    'pos_menus': 'top_right',
    'pos_social': 'bottom_right',
    'pos_text': 'bottom_left'
  } %}
{% endif %}

{# Ordering below matters #}
{% set elems = [
  { 'elem': output_image(m_key), 'position': el_positions['pos_image'], 'visibility': sh.image },
  { 'elem': output_footer_menu(module.menus.menu), 'position': el_positions['pos_menus'], 'visibility': sh.menus },
  { 'elem': output_social(m_key), 'position': el_positions['pos_social'], 'visibility': sh.social },
  { 'elem': output_footer_text(), 'position': el_positions['pos_text'], 'visibility': sh.text }
] %}

{# Print footer #}

{{ print_module(m_key) }}