{# ############################################## #}
{# #################   Macros   ################# #}
{# ############################################## #}

{# Menu renderer #}

{% macro render_menu(mobile) %}
  <nav class="menu menu--{{'mobile' if mobile else 'desktop'}}" aria-label="Main menu">
    <ul class="menu__wrapper no-list">
      {{ caller() }}
    </ul>
  </nav>
{% endmacro %}

{# Menu items #}

{% macro menu_items(menu_field, max_levels) %}

  {% if menu_field.menu|string != 'Choose a menu' %}

    {% set menu = menu(menu_field.menu, 'site_root').children %}

    {% macro render_link_item(link, depth) %}
      <li class="menu__item menu__item--depth-{{ depth }} {{ 'menu__item--has-submenu' if link.children && depth < max_levels }} hs-skip-lang-url-rewrite">
        <div class="menu-item-container">
          {% if link.url %}
            <a class="menu__link {{ 'menu__link--toggle' if link.children && depth < max_levels }} {{ 'menu__link--active-branch' if link.activeBranch }} {{ 'menu__link--active-link' if link.activeNode }}" href="{{ link.url }}" {{ 'aria-haspopup="true" aria-expanded="false"' if link.children && depth < max_levels }} {{ 'aria-current="page"' if link.activeNode }} {{ 'target="_blank" rel="noopener"' if link.linkTarget }}>{{ link.label }}</a>
          {% else %}
            {% if link.children && depth < max_levels %}            
              <a class="menu__link menu__link--toggle" href="#" aria-haspopup="true" aria-expanded="false">{{ link.label }}</a>
            {% else %}            
              <span class="menu__link">{{ link.label }}</span>
            {% endif %}
          {% endif %}
          {% if link.children %}
            {% if depth && depth < max_levels %}
                <button class="menu__child-toggle no-button" aria-expanded="false">
                  <span class="show-for-sr">{{ link.label }}</span>
                  <span class="menu__child-toggle-icon"></span>
                </button>
              </div>
              <ul class="menu__submenu mat_pri_bor mat_pri_cor mat_pri_sha menu__submenu--level-{{ depth + 1 }} no-list">
                {% set depth = depth + 1 %}
                {% for sublink in link.children %}
                  {{ render_link_item(sublink, depth) }}
                {% endfor %}
              </ul>
            {% endif %}
          {% else %}
        </div>
          {% endif %}
      </li>
    {% endmacro %}

    {# Render menu item #}
    
    {% for link in menu %}
      {{ render_link_item(link, 1) }}
    {% endfor %}

  {% endif %}

{% endmacro %}

{# ############################################## #}
{# #################   Module   ################# #}
{# ############################################## #}

{# Module styles #}

{% require_css %}
  <style>
    {% scope_css %}

      {% set m_colors = module.styles.colors %}

      {# Colors > Top level #}

      .menu__link {
        color: {{ m_colors.menu_item.color }};
      }

      .menu__child-toggle-icon {
        border-color: {{ m_colors.menu_item.color }};
      }

      .menu-item-container:hover a,
      .menu-item-container:hover span {
        color: {{ m_colors.menu_item_hover.color }};
      }

      .menu-item-container:hover .menu__child-toggle-icon {
        border-color: {{ m_colors.menu_item_hover.color }};
      }

      {# Colors > Submenus #}

      .menu__submenu {
        background: {{ m_colors.submenu_bg.color }};
      }

      .menu__submenu .menu__link {
        color: {{ m_colors.menu_item.color }};
      }

      .menu__submenu .menu__child-toggle-icon {
        border-color: {{ m_colors.menu_item.color }};
      }

      .menu__submenu .menu-item-container:hover a,
      .menu__submenu .menu-item-container:hover span {
        color: {{ m_colors.menu_item_hover.color }};
      }

      .menu__submenu .menu-item-container:hover .menu__child-toggle-icon {
        border-color: {{ m_colors.menu_item_hover.color }};
      }

    {% end_scope_css %}
  </style>
{% end_require_css %}

{# Menu items #}

<div class="focus_module-menu2_inner">
  {% call render_menu() %}
    {{ menu_items(module, module.max_levels) }}
  {% endcall %}
</div>

