<!--
  templateType: page
  isAvailableForNewContent: true
  label: About
  screenshotPath: ../images/template-previews/about.png
-->

{% extends './layouts/base.html' %}

{% block body %}
{% dnd_area 'dnd_area_101' class='body-container body-container--about', label='Main section' %}

  {# Page title #}
  
  {% include_dnd_partial path='../sections/page-title.html'
    context={
      'text': 'About'
    }
  %}

  {# Image & text blocks #}

  {% include_dnd_partial path='../sections/2-column-text-with-button.html' %}

  {# Meet us #}

  {% include_dnd_partial path='../sections/team.html' %}

  {# Tabs #}

  {% dnd_section %}
    {% dnd_module path='../modules/tabs' %}
    {% end_dnd_module %}
  {% end_dnd_section %}

  {# Media boxes #}

  {% dnd_section
    full_width=true,
    padding={ 'left': 0, 'right': 0, 'bottom': 0 }
  %}
    {% dnd_module path='../modules/media-boxes' %}
    {% end_dnd_module %}
  {% end_dnd_section %}

{% end_dnd_area %}
{% endblock body %}