{% require_css %}
  <style>
    {% scope_css %}

      .focus_module_cta_section {
        {% if module.styles.bg.type == 'color' %}
          background: {{ module.styles.bg.color.css }};
        {% elif module.styles.bg.type == 'image' %}
          {{ module.styles.bg.image.css }}
        {% elif module.styles.bg.type == 'gradient' %}
          background: {{ module.styles.bg.gradient.css }};
        {% endif %}
      }

      .focus_module_cta_section-lens {
        background: {{ module.styles.lens.css }};
      }

      .focus_module_cta_section-title {
        color: {{ module.styles.title.color }};
      }

      .focus_module_cta_section-text {
        color: {{ module.styles.text.color }};
      }

    {% end_scope_css %}
  </style>
{% end_require_css %}

{# Sets attributes used for the link field #}

{# Button 1 #}

{% set href_1 = module.button_1.link.url.href %}
{% if module.button_1.link.url.type is equalto 'EMAIL_ADDRESS' %}
  {% set href_1 = 'mailto:' + href_1 %}
{% endif %}
{% set rel_1 = [] %}
{% if module.button_1.link.no_follow %}
  {% do rel_1.append('nofollow') %}
{% endif %}
{% if module.button_1.link.open_in_new_tab %}
  {% do rel_1.append('noopener') %}
{% endif %}

{# Button 2 #}

{% set href_2 = module.button_2.link.url.href %}
{% if module.button_2.link.url.type is equalto 'EMAIL_ADDRESS' %}
  {% set href_2 = 'mailto:' + href_2 %}
{% endif %}
{% set rel_2 = [] %}
{% if module.button_2.link.no_follow %}
  {% do rel_2.append('nofollow') %}
{% endif %}
{% if module.button_2.link.open_in_new_tab %}
  {% do rel_2.append('noopener') %}
{% endif %}

<div class="focus_module_cta_section">
  <div class="focus_module_cta_section-lens"></div>
  <div class="focus_module_cta_section-inner content-wrapper">
    <div class="focus_module_cta_section-content">
      {% if module.image.src %}   
        <img class="cta_section-icon" src="{{ module.image.src }}" alt="{{ module.image.alt }}" loading="lazy" width="600" height="496">
      {% endif %}
      <{{ module.title_heading_type }} class="focus_module_cta_section-title">{{ module.title }}</{{ module.title_heading_type }}>
      <p class="focus_module_cta_section-text">{{ module.text }}</p>
    </div>
    <div class="focus_module_cta_section-ctas">
      {% if module.button_1.button_text %}
        <div class="button-wrapper focus_module_container">
          <a class="button {{ module.button_1.button_type }}" href="{{ href_1 }}"
          {% if module.button_1.link.open_in_new_tab %}target="_blank"{% endif %}
          {% if rel_1 %}rel_1="{{ rel_1|join(' ') }}"{% endif %}
          >
            {{ module.button_1.button_text }}
          </a>
        </div>
      {% endif %}
      {% if module.button_2.button_text %}
        <div class="button-wrapper focus_module_container">
          <a class="button {{ module.button_2.button_type }}" href="{{ href_2 }}"
          {% if module.button_2.link.open_in_new_tab %}target="_blank"{% endif %}
          {% if rel_2 %}rel_2="{{ rel_2|join(' ') }}"{% endif %}
          >
            {{ module.button_2.button_text }}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>