<section class="focus_module_list">

  {% for item in module.list %}    

    <div class="focus_module_list_item">
      <div class="focus_module_list_arrow{{ ' ' ~ module.bullet if module.bullet != 'arrow' }}">
        {% if module.bullet == 'arrow' %}
          {% icon
            name='arrow-right'
            style='SOLID'
            unicode='f061'
            purpose='decorative'
          %}
        {% endif %}
      </div>
      <p>{{ item.text }}</p>
    </div>

  {% endfor %}

</section>
