.focus_module_cta_section {
  padding: 80px;
  position: relative;
  z-index: 0;
}

.focus_module_cta_section-lens {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.focus_module_cta_section-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.focus_module_cta_section-content {
  max-width: 70%;
  text-align: center;
}

.cta_section-icon {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: -160px auto 20px auto;
  height: auto;
}

.focus_module_cta_section-title {
  font-size: 48px;
  margin-bottom: 30px;
}

.focus_module_cta_section-text {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 1.6em;
}

.focus_module_cta_section-ctas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

@media (max-width: 1138px) {
  .focus_module_cta_section-content {
    max-width: 70%;
  }
}

@media (max-width: 767px) {
  .focus_module_cta_section {
    padding: 80px 30px;
  }

  .focus_module_cta_section-content {
    max-width: 100%;
  }

  .focus_module_cta_section-title {
    font-size: 36px;
  }
}
