.mmc-grid-inner {
  max-width: 800px;
  margin: 0 auto;
  gap: 0;
}

.focus_module_calendar_item {
  display: flex;
  align-items: center;
  padding: 50px 0;
  position: relative;
}

.focus_module_calendar_item::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 4px;
  bottom: 0px;
  left: calc(50% - 15px);
  border-radius: 8px;
}

.focus_module_calendar-left_container {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  height: 120px;
}

.focus_module_calendar_img {
  height: auto;
  width: 180px;
  display: block;
  font-size: 0;
}

.focus_module_calendar_title_container {
  flex: 1 1 auto;
}

.focus_module_calendar_title {
  font-size: 24px;
}

.focus_module_calendar_note {
  margin-bottom: 0;
  font-size: 16px;
}

.focus_module_calendar_item .button {
  flex: 0 0 auto;
}

@media (max-width: 767px) {
  .focus_module_calendar_item {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .focus_module_calendar-left_container {
    flex-direction: column;
    height: auto;
    gap: 30px;
  }

  .focus_module_calendar_date {
    text-align: left;
  }
}
