{% import '../../templates/partials/listing/structure.html' %}
{% import '../../templates/partials/button.html' %}

{% require_css %}
  <style>
    {% scope_css %}

      .focus_grid-col:last-child .focus_module_calendar_item::after {
        display: none;
      }

    {% end_scope_css %}
  </style>
{% end_require_css %}

<div class="focus_grid-container focus_module_calendar">

  <section class="focus_grid-inner mmc-grid-inner">

    {% for event in module.events %}

      <div class="focus_grid-col focus_grid--1col mgi-col1">
        <div class="focus_grid-content focus_grid-content--1col">

          <div class="focus_module_calendar_item">
            <div class="focus_module_calendar-left_container">
              {% if event.image.src %}   
                <img class="focus_module_calendar_img" src="{{ event.image.src }}" alt="{{ event.image.alt }}" loading="lazy" width="180" height="180">
              {% endif %}
            </div>
          <div class="focus_module_calendar_title_container">          
            <time class="focus_module_calendar_date">
            {% if module.date_format == 'd_m_y' %}
              {{ event.date|format_datetime('d MMM, YY') }} {# 2 Sep, 26 #}
            {% elif module.date_format == 'm_d_year' %}
              {{ event.date|format_datetime('MMM d, YYY') }} {# Sep 2, 2026 #}
            {% elif module.date_format == 'month_d_year' %}
              {{ event.date|format_datetime('MMMM d, YYY') }} {# September 2, 2026 #}
            {% endif %}
            </time>
            <{{ module.title_heading_type }} class="focus_module_calendar_title">{{ event.title }}</{{ module.title_heading_type }}>
            {% if event.note %}
              <p class="focus_module_calendar_note">{{ event.note }}</p>
            {% endif %}
          </div>
          
          {% if event.button_toggle %}
            {{ render_button({
              'rb_href': event.button_options.button_link.url.href,
              'rb_type': event.button_options.button_link.url.type,
              'rb_follow': event.button_options.button_link.no_follow,
              'rb_tab': event.button_options.button_link.open_in_new_tab,
              'rb_class': 'button',
              'rb_text': event.button_options.button_text,
              'rb_feature': '',
              'rb_social_icon': '',
              'rb_acc_title': ''
            }) }}
          {% endif %}
          </div>

        </div>
      </div>

    {% endfor %}

  </section>

</div>