{% import '../../templates/partials/listing/structure.html' %}
{% import '../../templates/partials/button.html' %}
    
{% if bl == 'masonry2' or bl == 'masonry3' %}
    {{ require_js(get_asset_url('../../js/packages/masonry.pkgd.min.js')) }}
    {{ require_js(get_asset_url('../../js/packages/imagesloaded.pkgd.min.js')) }}
    {{ require_js(get_asset_url('../../js/media-boxes.js')) }}
{% endif %}

{% require_css %}
    <style>
        {% scope_css %}

            .focus_module_media_boxes_item {
                min-height: {{ module.box_height }}px;
            }

            {# Image boxes #}

            .mmmbil {
                background: {{ module.styles.image_box_colors.lens.css }};
            }

            .focus_module_media_boxes_image:hover .mmmbil {
                background: {{ module.styles.image_box_colors.lens_hover.css }};
            }

            .focus_module_media_boxes_image .focus_module_media_boxes-title {
                color: {{ module.styles.image_box_colors.title.color }};
            }

            .focus_module_media_boxes_image:hover .focus_module_media_boxes-title {
                color: {{ module.styles.image_box_colors.title_hover.color }};
            }

            .focus_module_media_boxes_image .focus_module_media_boxes-text {
                color: {{ module.styles.image_box_colors.text.color }};
            }

            .focus_module_media_boxes_image:hover .focus_module_media_boxes-text {
                color: {{ module.styles.image_box_colors.text_hover.color }};
            }

            {# Text boxes #}

            .focus_module_media_boxes_text {
                background: {{ module.styles.text_box_colors.box_bg.color }};
            }

            .focus_module_media_boxes_text:hover {
                background: {{ module.styles.text_box_colors.box_bg_hover.color }};
            }

            .focus_module_media_boxes_text .focus_module_media_boxes-title {
                color: {{ module.styles.text_box_colors.title.color }};
            }

            .focus_module_media_boxes_text:hover .focus_module_media_boxes-title {
                color: {{ module.styles.text_box_colors.title_hover.color }};
            }

            .focus_module_media_boxes_text .focus_module_media_boxes-text {
                color: {{ module.styles.text_box_colors.text.color }};
            }

            .focus_module_media_boxes_text:hover .focus_module_media_boxes-text {
                color: {{ module.styles.text_box_colors.text_hover.color }};
            }

            {# Spacings #}

            {% set m_spacing_spacing = 'custom' %}
            {% set m_spacing_horizontal = 0 %}
            {% set m_spacing_vertical = 0 %}

            {% if m_spacing_spacing == 'custom' %}
                @media (min-width: 1139px) {
                {% if masonry_layout %}
                    .focus_grid-gutter-sizer {
                        width: {{ m_spacing_horizontal }}px;
                    }

                    .focus_grid-item {
                        margin-bottom: {{ m_spacing_vertical }}px;
                    }

                    .focus_grid-masonry2 .focus_grid-sizer,
                    .focus_grid-masonry2 .focus_grid-item {
                        width: calc(50% - {{ m_spacing_horizontal/2 }}px);
                    }

                    .focus_grid-masonry3 .focus_grid-sizer,
                    .focus_grid-masonry3 .focus_grid-item {
                        width: calc(33.3333% - {{ m_spacing_horizontal*2/3 }}px);
                    }
                {% else %}
                    .focus_grid-inner {
                        gap: {{ m_spacing_vertical }}px 0;
                    }

                    .focus_grid--2col.mgi-col1,
                    .focus_grid--2_1col.mgi-2_1col-1,
                    .focus_grid--2_3col.mgi-2_3col-1 {
                        padding-right: {{ m_spacing_horizontal/2 }}px;
                    }

                    .focus_grid--2col.mgi-col2,
                    .focus_grid--2_1col.mgi-2_1col-2,
                    .focus_grid--2_3col.mgi-2_3col-2 {
                        padding-left: {{ m_spacing_horizontal/2 }}px;
                    }

                    .focus_grid--3col.mgi-col1,
                    .focus_grid--3_1col.mgi-3_1col-1,
                    .focus_grid--3_2col.mgi-3_2col-1 {
                        padding-right: {{ m_spacing_horizontal*2/3 }}px;
                    }

                    .focus_grid--3col.mgi-col2,
                    .focus_grid--3_1col.mgi-3_1col-2,
                    .focus_grid--3_2col.mgi-3_2col-2 {
                        padding-left: {{ m_spacing_horizontal/3 }}px;
                        padding-right: {{ m_spacing_horizontal/3 }}px;
                    }

                    .focus_grid--3col.mgi-col3,
                    .focus_grid--3_1col.mgi-3_1col-3,
                    .focus_grid--3_2col.mgi-3_2col-3 {
                        padding-left: {{ m_spacing_horizontal*2/3 }}px;
                    }
                {% endif %}
                }
            {% endif %}

        {% end_scope_css %}
    </style>
{% end_require_css %}

<div class="focus_grid-container{{ masonry_layout }}">

    <section class="focus_grid-inner{{ masonry_layout }} focus_module_media_boxes">

            {% if masonry_layout %}
                <div class="focus_grid focus_grid-media-boxes">
                    <div class="focus_grid-sizer"></div>
                    <div class="focus_grid-gutter-sizer"></div>
            {% endif %}

            {% for box in module.boxes %}

                {% if masonry_layout %}
                    <div class="focus_grid-item">
                {% endif %}

                <div class="focus_grid-col focus_grid--{{ layouts[bl]['remaining_post_class'] }} {{ cycle_class(layouts[bl]['cycle_class']) }}">
                    <div class="focus_grid-content focus_grid-content--{{ bl }} focus_module_media_boxes_item_container">
                        {% if box.media_type == 'image' %}
                            {# Image box #}
                            {% require_css %}
                                <style>
                                    {% scope_css %}
                                        .mmmbi{{ loop.index }} {
                                            background: url({{ box.image_box.image.src if box.image_box.image.src }}) center center no-repeat; background-size: cover;
                                        }
                                    {% end_scope_css %}
                                </style>
                            {% end_require_css %}
                            <div class="focus_module_media_boxes_item focus_module_media_boxes_image {{ module.vertical_align }} mmmbi{{ loop.index }}">
                            <div class="focus_module_media_boxes_lens mmmbil mmmbil{{ loop.index }}"></div>
                        {% elif box.media_type == 'text' %}
                            {# Text box #}
                            <div class="focus_module_media_boxes_item focus_module_media_boxes_text {{ module.vertical_align }} mmmbt{{ loop.index }}">
                        {% endif %}
                        {% if box.title or box.text or box.button_toggle %}
                            <div class="focus_module_media_boxes-content {{ module.vertical_align }}">
                                {% if box.title %}
                                    {# Box title #}
                                    <{{ box.title_heading_type }} class="focus_module_media_boxes-title">{{ box.title }}</{{ box.title_heading_type }}>
                                {% endif %}
                                {% if box.text %}
                                    {# Box text #}
                                    <div class="focus_module_media_boxes-text">{{ box.text }}</div>
                                {% endif %}
                                {% if box.button_toggle %}
                                    {# Box button #}
                                    {{ render_button({
                                        'rb_href': box.button_options.button_link.url.href,
                                        'rb_type': box.button_options.button_link.url.type,
                                        'rb_follow': box.button_options.button_link.no_follow,
                                        'rb_tab': box.button_options.button_link.open_in_new_tab,
                                        'rb_class': 'button ' ~ box.button_options.button_type,
                                        'rb_text': box.button_options.button_text,
                                        'rb_feature': '',
                                        'rb_social_icon': '',
                                        'rb_acc_title': ''
                                    }) }}
                                {% endif %}
                            </div>
                        {% endif %}
                        </div>
                    </div>      
                </div>

                {% if masonry_layout %}
                    </div>
                {% endif %}

            {% endfor %}

            {% if masonry_layout %}
                </div>
            {% endif %}

    </section>

</div>    

<input id="m_info_fields-media-boxes" type="hidden" data-masonry="{{ 'true' if masonry_layout else 'false' }}">