.focus_module_clients_item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  transition: all 0.3s ease;
  padding: 50px;
}

.focus_module_clients_img {
  transition: all 0.3s ease;
}

.focus_module_clients .splide__arrows {
  display: none;
}
