/* Blog item */

.focus_grid-blog_item,
.focus_grid-blog_item_inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.focus_grid-blog_item {
  margin-bottom: 50px;
}

.focus_grid-title {
  margin-bottom: 0;
  order: 1;
  text-align: left;
}

.mgiw-list {
  display: none;
}

.focus_grid-image-wrapper {
  order: 3;
  line-height: 0;
}

.focus_grid-image {
  margin-bottom: 0;
}

.focus_grid-summary {
  order: 4;
}

.focus_grid-summary p {
  margin-bottom: 0;
}

.focus_grid-button-wrapper {
  order: 5;
}

.focus_grid-button {
  margin: 0 auto 0 0;
}

.focus_grid-tags {
  font-size: 14px;
  order: 6;
}

/* Blog list item */

.focus_grid--list .focus_grid-blog_item {
  flex-direction: row;
  align-items: center;
  gap: 0;
  transition: all 0.3s ease;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.focus_grid--list .focus_grid-blog_item_inner {
  padding: 40px;
}

.focus_grid--list .mgiw-list {
  display: block;
}

.focus_grid--list .mgiw-box {
  display: none;
}

.focus_grid--list .focus_grid-image-wrapper {
  order: -1;
}

.focus_grid--list .focus_grid-image {
  width: 300px;
}

.focus_grid--list .focus_grid-date_bar,
.focus_grid--list .focus_grid-button-wrapper,
.focus_grid--list .focus_grid-tags,
.focus_grid--list .focus_grid-summary {
  display: none;
}

.focus_grid--list .focus_grid-title {
  font-size: 26px;
}

/* Pagination */

.pagination {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}

.pagination__link {
  display: inline-flex;
}

.pagination__link,
.pagination__link:hover,
.pagination__link:focus,
.pagination__link:active {
  text-decoration: none;
}

.pagination__link--disabled {
  cursor: default;
  pointer-events: none;
}

.pagination__link--number {
  padding: 5px;
}

.pagination__link-icon {
  line-height: 0;
}

.pagination__link-icon svg,
.pagination__link-icon svg {
  height: 20px;
}

/* Infinite scroll */

.page-load-status {
  display: none;
  opacity: 0.3;
}

.vmb-true {
  display: inline-block;
}
