{% import '../../templates/partials/button.html' %}

<section class="focus_module_image_text {{ module.image_position }}">

  {% if module.image and module.image.src %}
    <img class="focus_module_image_text_img {{ module.image_position }}" src="{{ module.image.src }}" alt="{{ module.image.alt }}" loading="lazy" width="600" height="515">
  {% endif %}

  <div class="focus_module_image_text_container focus_module_container">
    {% if module.title %}
      <{{ module.title_heading_type }} class="focus_module_image_text_title">{{ module.title }}</{{ module.title_heading_type }}>
    {% endif %}

    {% if module.text %}
      <p>{{ module.text }}</p>
    {% endif %}

    {% if module.button_toggle %}
      {{ render_button({
        'rb_href': module.button_options.button_link.url.href,
        'rb_type': module.button_options.button_link.url.type,
        'rb_follow': module.button_options.button_link.no_follow,
        'rb_tab': module.button_options.button_link.open_in_new_tab,
        'rb_class': 'button',
        'rb_text': module.button_options.button_text,
        'rb_feature': '',
        'rb_social_icon': '',
        'rb_acc_title': ''
      }) }}
    {% endif %}
  </div>

</section>