{% import '../../templates/partials/listing/structure.html' %}

{# Module styles #}

{% require_css %}
  <style>
    {% scope_css %}

      {% set m_spacing_spacing = 'custom' %}
      {% set m_spacing_horizontal = 0 %}
      {% set m_spacing_vertical = 0 %}

      {% if m_spacing_spacing == 'custom' %}
        @media (min-width: 1139px) {
          {% if masonry_layout %}
            .focus_grid-gutter-sizer {
              width: {{ m_spacing_horizontal }}px;
            }

            .focus_grid-item {
              margin-bottom: {{ m_spacing_vertical }}px;
            }

            .focus_grid-masonry2 .focus_grid-sizer,
            .focus_grid-masonry2 .focus_grid-item {
              width: calc(50% - {{ m_spacing_horizontal/2 }}px);
            }

            .focus_grid-masonry3 .focus_grid-sizer,
            .focus_grid-masonry3 .focus_grid-item {
              width: calc(33.3333% - {{ m_spacing_horizontal*2/3 }}px);
            }
          {% else %}
            .focus_grid-inner {
              gap: {{ m_spacing_vertical }}px 0;
            }

            .focus_grid--2col.mgi-col1,
            .focus_grid--2_1col.mgi-2_1col-1,
            .focus_grid--2_3col.mgi-2_3col-1 {
              padding-right: {{ m_spacing_horizontal/2 }}px;
            }

            .focus_grid--2col.mgi-col2,
            .focus_grid--2_1col.mgi-2_1col-2,
            .focus_grid--2_3col.mgi-2_3col-2 {
              padding-left: {{ m_spacing_horizontal/2 }}px;
            }

            .focus_grid--3col.mgi-col1,
            .focus_grid--3_1col.mgi-3_1col-1,
            .focus_grid--3_2col.mgi-3_2col-1 {
              padding-right: {{ m_spacing_horizontal*2/3 }}px;
            }

            .focus_grid--3col.mgi-col2,
            .focus_grid--3_1col.mgi-3_1col-2,
            .focus_grid--3_2col.mgi-3_2col-2 {
              padding-left: {{ m_spacing_horizontal/3 }}px;
              padding-right: {{ m_spacing_horizontal/3 }}px;
            }

            .focus_grid--3col.mgi-col3,
            .focus_grid--3_1col.mgi-3_1col-3,
            .focus_grid--3_2col.mgi-3_2col-3 {
              padding-left: {{ m_spacing_horizontal*2/3 }}px;
            }
          {% endif %}
        }
      {% endif %}

    {% end_scope_css %}
  </style>
{% end_require_css %}
  
{# Portfolio listing #}

<div class="focus_grid-container{{ masonry_layout }}">

  <section class="focus_grid-inner{{ masonry_layout }}">
    
    {% for c in module.portfolio_items %}
      {% if loop.index0 < initial_cols %}
        {# initial columns #}
        {% do initial_posts.append(c) %}
      {% else %}
        {# regular columns #}
        {% do remaining_posts.append(c) %}
      {% endif %}
    {% endfor %}

    {% for content in initial_posts %}
      {# Blog listing article - initial columns #}
      {{ listing_item('mgi-' ~ bl ~ '-' ~ loop.index, bl, content.title, 'portfolio') }}
    {% endfor %}

    {% if initial_posts %}
      {# for nth-child to work #}
      <div class="focus_grid-inner">
    {% elif masonry_layout %}
      {# masonry layout #}
      <div class="focus_grid focus_grid-portfolio">
        <div class="focus_grid-sizer"></div>
        <div class="focus_grid-gutter-sizer"></div>
    {% endif %}

    {% for content in remaining_posts %}
      {% if masonry_layout %}
        {# masonry layout #}
        <div class="focus_grid-item">
      {% endif %}

      {# Blog listing article #}
      {% if list_style_count and loop.index > list_style_count %}
        {# list style #}
        {{ listing_item(cycle_class(layouts[bl]['cycle_class']), 'list', content.title, 'portfolio') }}
      {% else %}
        {# regular style #}
        {{ listing_item(cycle_class(layouts[bl]['cycle_class']), layouts[bl]['remaining_post_class'], content.title, 'portfolio') }}
      {% endif %}

      {% if masonry_layout %}
        {# masonry layout #}
        </div>
      {% endif %}
    {% endfor %}

    {% if initial_posts or masonry_layout %}
      {# for nth-child to work / masonry layout #}
      </div>
    {% endif %}

  </section>

</div>

<input id="m_info_fields-portfolio" type="hidden" data-masonry="{{ 'true' if masonry_layout else 'false' }}">
