.focus_module_list {
  display: flex;
  flex-direction: column;
}

.focus_module_list_item {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.focus_module_list_arrow {
  width: 12px;
}

.focus_module_list_arrow.circle {
  width: 9px;
  height: 9px;
  border-style: solid;
  border-width: 3px;
  background: none;
  border-radius: 50%;
}

.focus_module_list_arrow.line {
  width: 15px;
  height: 3px;
  border-radius: 8px;
}

.focus_module_list_item p {
  margin-bottom: 0;
}
