.focus_module_team_members_img {
  width: 100%;
  height: auto;
  display: block;
  font-size: 0;
  border-radius: 50%;
}

.focus_module_team_members_text {
  text-align: center;
}

.focus_module_team_members_text .focus_social_icons {
  justify-content: center;
}

.focus_module_team_members_title {
  font-size: 30px;
}

.focus_module_team_members_job {
  font-size: 14px;
  border-radius: 30px;
  display: inline-block;
  padding: 0 10px;
}
