<div class="focus_module_quote">
  {% if module.image.src || module.quote_icon %}
  <div class="focus_module_quote_img">
    {% if module.image.src %}
    <img
      src="{{ module.image.src }}"
      alt="{{ module.image.alt }}"
      loading="lazy"
      width="150"
      height="150"
    />
    {% endif %} {% if module.quote_icon %}
    <div class="focus_module_quote_icon">
      {% icon name='quote-right' style='SOLID' unicode='f10e' purpose='decorative' %}
    </div>
    {% endif %}
  </div>
  {% endif %}
  <div class="focus_module_quote_text {{ module.text_size }}">{{ module.text }}</div>
  <div class="focus_module_quote_owner">{{ module.owner }}</div>
</div>
